/node_modules
/ts-defs
.idea
.vscode
/lib
/site
.sass-cache
.publish
/___test-screenshots___
/screenshots
yarn.lock
Gemfile.lock
.npmrc
.DS_Store
!gulp
*report.xml
.env
.env.cypress
/reports
report.xml

*.log
/cypress/screenshots
/log
/results
/test-results/
/blob-report/
